@model IEnumerable<WebAPIDemo.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Legs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Legs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AniamlId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AniamlId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AniamlId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
