@model WebAPIDemo.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AniamlId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
